@import url("//cdn.web-fonts.ge/fonts/alk-sanet/css/alk-sanet.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  flex-wrap: wrap;
  font-family: "ALK Sanet", sans-serif;
  
}


.li-navbar {
  font-family: "ArchyEDT-Bold", sans-serif;
  text-transform: uppercase;
  color: white;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}



.min-h-custom {
  min-height: calc(100vh - 392px);
}

.li-vrf {
  font-size: 8px;
  color: #676565;
  background-color: #e6e7eb;

  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
}
.li-vrf:hover {
  background: rgb(157, 157, 157);
  color: white;
  transition: all 0.1s ease-in;
}
.product-h1 {
  color: rgb(90, 90, 90);
}
.nav-custom {
  transform: translateX(45vw);
}
.product-image {
  background-image: url("/assets/VRF/mini/mini.png");
  background-repeat: no-repeat;

  background-size: contain;
  background-position: center;
}
.category-image {
  background-image: url("/assets/VRF/mini/mini.png");
  background-repeat: no-repeat;
  background-size: cover;

  background-position: center;
}

.bg-cover {
  background-image: url("/assets/cover/N1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  animation: changeBackground 10s infinite;
}

@keyframes changeBackground {
  0% {
    background-image: url("/assets/cover/N1.png");
  }
  50% {
    background-image: url("/assets/cover/N2.jpg");
  }
  100% {
    background-image: url("/assets/cover/N1.png");
  }
}

.bg-gallery {
  background-image: url("/assets/cover/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.works-done-div{
  background-image: url("/assets/mindeli/mindeli.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.carousel {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 50vw;
  min-height: 50vh;
  background-color: skyblue;

}
.swiper {
  width: 50vw;
  height: 20vw;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;


  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}


.mainGallery{
  all: unset;
  display: flex;
  flex-direction: row;
}

.bn60 {
  background-color: #1E3A8A;
  color: #ffffff;
  font-size: 1em;
  
  position: relative;
  outline: none;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: auto;
  
}

.nav-mobile{
  width: calc(100% - 2px);
}
