@tailwind base;
@tailwind components;
@tailwind utilities;




*{
  
  flex-wrap: wrap;
}




li {
  font-family: "ArchyEDT-Bold", sans-serif;
  text-transform: uppercase;
  color: white;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  background: gray;
}

/* li:hover {
  background: gray;
} */


.min-h-custom {
  min-height: calc(100vh - 392px);
}

.li-vrf {
  font-size: 8px;
  color: #676565;
  background-color: #E6E7EB;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.li-vrf:hover{
  background: rgb(157, 157, 157);
  color: white;
  transition: all .1s ease-in;
  
}
.product-h1{
  

  color: rgb(90, 90, 90);
}
.nav-custom{
  transform: translateX(45vw);
}




